.radio{
    display: flex;
    accent-color: Blue;  
    margin-top: 10px;  
    margin-bottom: 10px;
    
}
.d1{
    padding-left: 10px;
    padding-right: 10px;
}
.checkbox{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    
    
}
.c1{
    padding-left: 10px;
    padding-right: 10px;
    accent-color: blue;
}
.top{
    margin-top: 10px;
    margin-bottom: 10px;
}
.select{
    margin-top: 10px;
    margin-bottom: 20px;
    height: 40px;
    width: 300px;

}
.form{
    margin-top: 10px;
    margin-right: 400px;
    margin-left: 500px;
    background-color: aliceblue;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 100px;
    border-radius: 5px;
    box-shadow: 1px;
    
   
}
.top{
    height: 30px;
    width: 300px;
}
body{
font-family: Arial, Helvetica, sans-serif;
background-color: blue;
}
.button{
    background-color: blue;
    color: azure;
    border-radius: 1px;
    border: white;
    margin-top: 20px;
    height: 25px;
    width: 60px;
    margin-left: 280px;
    cursor: pointer;

}
input{
    margin-top: 10px;
}
